
#app {
  height: 100vh;
  
}
h1{
  text-align: center;
  margin-top: 75px;
}
body {
  background: rgb(66,66,66);
  background: linear-gradient(90deg, rgba(66,66,66,1) 30%, rgba(218,218,218,1) 50%, rgba(66,66,66,1) 70%);
  }

.calculator {
  margin:auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid #47476b;
  padding: 5px;
  background: black;
  width: 320px;
  position: relative;
}

.formulaScreen {
  min-height: 20px;
  font-family: digital;
  font-size: 20px;
  color: #66ffff;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.outputScreen {
  font-size: 29px;
  font-family: digital;
  color: white;
  text-align: right;
  line-height: 35px;
}

button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  background: #4d4d4d;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
    color: black;
    outline: 0.10em solid grey;
    z-index: 3;
  }

.jumbo {
  width: 160px;
}

.author {
  text-align: center;
  font-family: Share Tech Mono, sans;
  margin-top: 15px;
  a {
    text-decoration: none;
    color: #00264d;
    line-height: 26px;
  }
}


